<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Please wait...</h1>
    <form name="f1" id="form1" method="post" action="http://localhost:3001/api/paytm/request">
        <input type="hidden" id="ORDER_ID" name="ORDER_ID" value='sdkfsfsdfdfgasdsqedflkkn3435' />
        <input type="hidden" name="INDUSTRY_TYPE_ID" value="Retail" />
        <input type="hidden" id="CUST_ID" name="CUST_ID" value='asdasd22' />
        <input type="hidden" id="CHANNEL_ID" name="CHANNEL_ID" value='WEB' />
        <input type="hidden" id="TXN_AMOUNT" name="TXN_AMOUNT" value='200' />
        <input type="hidden" name="WEBSITE" value="WEBSTAGING" />
        <input type="hidden" name="MID" value="Morfsy39334726651789" />
        <input type="hidden" name="PAYTM_MERCHANT_KEY" value="YSqoDkz@1ScadaGY" />
        <!-- <button type="submit" id="user-submit">Submit</button> -->
    </form>
</body>

</html>