<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if(status) {%>
    <title>true</title>
    <% } else{ %>
    <title>false</title>
    <% } %>
</head>

<body>
    <% if(status) {%>
    <div>Your transaction was successfull!</div>
    <% } else{ %>
    <div>Oops! Something went wrong!</div>
    <% } %>
</body>

</html>